<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

        <default>
            <use>standard</use>
            <args>
                <module>Mag_Homebackery</module>
                <frontName>homebackery</frontName>
            </args>
        </default>

</config>
